.home-produdcts-row {
    text-align: center;
}

.home-produdcts-row img {
    width: 100%;
}

.home-produdcts-row h5 {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
}

.home-produdcts-row a:hover {
    cursor: pointer;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.product-view-wrapper:hover .image {
    opacity: 0.3;
}
  
.product-view-wrapper:hover .middle {
    opacity: 1;
}

.text {
    background-color: #000;
    color: white;
    font-size: 14px;
    padding: 16px 32px;
  }

  .strike-through-text {
    text-decoration: line-through;  
  }

  .actual-price {
    font-size: 18px;
    font-weight: 600;
  }